.page-preview {
  display: flex;
  gap: 16px;
  .left,
  .right {
    border-radius: 8px;
  }
  .left {
    background-color: white;
    width: 70%;
    padding: 20px;
    .vip {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 16px;
      background: #001358;
      padding: 0 40px;
      div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          font-size: 28px;
          font-weight: 600;
          color: white;
        }
        button {
          border-radius: 8px;
          background: #fff;
          padding: 16px 24px;
          width: max-content;
        }
      }
    }
    .search {
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: #f8f9fd;
      margin: 20px 0;
      padding: 10px;
      color: #8f8f8f;
      + p {
        font-weight: 400;
      }
    }
  }
  .right {
    width: 30%;
  }
}
