.adminModoLayout {
  display: flex;
  height: calc(100vh - 98px);
  position: sticky;
  z-index: 1;
  top: 98px;
  > .left {
    width: 20%;
    .modoAdminNav {
      padding: 40px 20px;
      background: #07233e;
      height: 100%;
      color: white;
      .content {
        display: none;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .notif {
          position: relative;
          svg {
            font-size: 32px;
            color: white;
            cursor: pointer;
          }
          .count {
            position: absolute;
            font-size: 10px;
            font-weight: 700;
            color: white;
            border-radius: 50%;
            background: #ff4d4f;
            padding: 4px;
            width: 20px;
            height: 20px;
            text-align: center;
            left: 55%;
            top: -4px;
          }
        }
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          cursor: pointer;
        }
        svg {
          font-size: 28px;
          cursor: pointer;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          .activeRoute {
            background-color: white;
            color: #07233e;
          }
          svg {
            font-size: 30px;
          }
          a,
          span {
            display: flex;
            align-items: center;
            gap: 20px;
            color: white;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 4px;
          }
        }
      }
    }
  }
  > .right {
    padding: 20px 30px;
    width: 80%;
    overflow: auto;
    background: #f4f5f9;
  }
  .separate {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 20px;
    padding: 20px 30px;
    width: 80%;
    overflow: auto;
    background: #f4f5f9;
    .modoListBar {
      background: #fff;
      position: sticky;
      top: 0px;
      height: 80vh;
      padding: 20px;
      overflow: auto;
      margin-top: 25px;
      width: max-content;
      .modoBubble {
        display: block;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        .count {
          position: absolute;
          top: -5px;
          left: -10px;
          color: #fff;
          font-size: 12px;
          padding: 10px;
          border-radius: 50%;
          height: 18px;
          width: 18px;
          border: 2px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #224697;
        }
        .active {
          position: absolute;
          bottom: 2px;
          right: 0px;
          border-radius: 50%;
          height: 12px;
          width: 12px;
          border: 2px solid white;
          background-color: #0c9;
        }
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}
.stopSticky {
  z-index: 350;
}

@media screen and (max-width: 990px) {
  .adminModoLayout {
    min-height: calc(100vh - 74px);
    top: 74px;
    > .left {
      position: fixed;
      width: 55%;
      height: 100vh;
      top: 0;
      left: -200%;
      transition: 0.3s left;
      z-index: 15;
      .showMenu {
        left: 0;
        transition: 0.3s left;
      }
      .modoAdminNav {
        .content {
          display: flex;
        }
      }
      .modoAdminNav {
        padding: 10px;
        ul {
          gap: 10px;
          li {
            a,
            span {
              padding: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
    > .right {
      width: 100%;
    }
    .separate {
      display: block;
      .modoListBar {
        display: flex;
        gap: 20px;
        width: 100%;
        height: max-content;
        margin-bottom: 20px;
        z-index: 30;
        .modoBubble {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .adminModoLayout {
    > .left {
      width: 80%;
    }
  }
}
