.authLayout {
  display: flex;
  height: 100vh;
  .left {
    width: 40%;
    background: #f8f3e2;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    h1 {
      text-align: center;
      color: #001358;
      text-align: center;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
    }
  }
  .right {
    width: 60%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    button {
      background-color: transparent;
      display: flex;
      align-items: center;

      gap: 10px;
      font-weight: 500;
      svg {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .authLayout {
    .left {
      h1 {
        font-size: 34px;
      }
      img {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .authLayout {
    .left {
      display: none;
    }
    .right {
      padding: 20px;
      width: 100%;
    }
  }
}
