.pages-container {
  background: #f4f5f9;
  min-height: 100vh;
  padding: 30px;

  .content {
    position: sticky;
    top: 126px;
    border-radius: 8px;
    background: #ededf0;
    height: calc(100vh - 146px);
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .pages-container {
    padding: 10px;
  }
}
