.baseBtn {
  border-radius: 4px;
  background: #001358 !important;
  color: #fff;
  font-weight: 600;
  display: block !important;
  text-align: center;
  padding: 12px 24px;
  width: 100%;
  font-size: 12px;
}
.greyBtn {
  border-radius: 4px;
  background: rgba(34, 70, 151, 0.1);
  color: #224697;
  font-style: normal;
  font-weight: 400;
  display: block !important;
  text-align: center;
  padding: 12px !important;
  width: 100%;
}
.announce {
  background: #224697 !important;
}
.linkButton {
  border-radius: 4px;
  background: #001358 !important;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 12px;
}
.coliForm {
  > label {
    color: #262a2e;
    font-size: 14px;
    font-weight: 400;
  }
  .formikFormField3,
  .formikFormField {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    margin-top: 10px;
  }
  .formikFormField {
    span {
      cursor: pointer;
    }
    svg {
      color: rgba(0, 0, 0, 0.5);
    }
    input {
      color: rgba(0, 0, 0, 0.5);
      ::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
    button {
      border-radius: 2px;
      background: #dda902;
      color: #224697;
      padding: 9px;
      width: 20%;
      justify-content: center;
    }
  }
  .formikFormField2 {
    .css-b62m3t-container {
      border: 1px solid #d9d9d9;

      width: 100%;
      padding: 0px;
      .css-13cymwt-control {
        border: none;
        outline: none;
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
  .formikFormField3 {
    justify-content: space-between;
    gap: 20px;
    div {
      width: 100%;
    }
  }
  .input-errors {
    font-size: 12px;
    color: rgba(228, 7, 7, 0.792);
  }
  .readOnly {
    border-radius: 2px;
    border: 1px solid #d9d9d9 !important;
    background: #f5f5f5 !important;
  }
  .formikInputfield {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      display: none;
    }
    p {
      color: #a8a8a8;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .border {
    border: 1px dashed #5a5f70;
    padding: 6px;
  }
}

.uploadButton {
  border-radius: 2px;
  border: 1px solid #626262;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: row !important;
  padding: 5px 16px;
  align-items: center;
  gap: 8px;
  padding: 10px !important;
  color: #8f8f8f;
  font-size: 14px;
}
