.baseBtn {
  border-radius: 4px;
  background: #001358 !important;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  display: block !important;
  text-align: center;
  padding: 12px 24px;
  width: 100%;
}
.greyBtn {
  border-radius: 4px;
  background: rgba(34, 70, 151, 0.1);
  color: #224697;
  font-style: normal;
  font-weight: 400;
  display: block !important;
  text-align: center;
  padding: 12px !important;
  width: 100%;
}
.announce {
  background: #224697 !important;
}
.coliForm {
  .formikFormField {
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    span {
      cursor: pointer;
    }
    svg {
      color: rgba(0, 0, 0, 0.5);
    }
    input {
      color: rgba(0, 0, 0, 0.5);
      ::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .input-errors {
    font-size: 12px;
    color: rgba(228, 7, 7, 0.792);
  }
}
