@font-face {
  font-family: Inter;
  src: url("../fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Inter;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
input,
textarea {
  border: 0;
  width: 100%;
  background-color: transparent;
}
button {
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
}
button:disabled {
  background-color: #cacaca !important;
  color: #fff !important;
}

.content-padding {
  padding: 16px 35px;
}

.toast-container {
  z-index: 100000;
  width: max-content !important;
  right: 0;

  p {
    font-size: 13px;
  }
  .btn-act {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    a {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 968px) {
  .toast-container {
    width: initial !important;
  }
}
@media screen and (max-width: 768px) {
  .content-padding {
    padding: 16px;
  }
}
