@font-face {
  font-family: Inter;
  src: url("../fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Inter;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
input,
textarea {
  border: 0;
  width: 100%;
  background-color: transparent;
}
button {
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
}
button:disabled {
  background-color: #cacaca !important;
  color: #fff !important;
}

.content-padding {
  padding: 16px 20px;
  + div {
    background-color: #fff;
  }
  .ctp-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
}

.toast-container {
  z-index: 100000;
  width: max-content !important;
  right: 0;

  p {
    font-size: 13px;
  }
  .btn-act {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    a {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 968px) {
  .toast-container {
    width: initial !important;
  }
}
@media screen and (max-width: 768px) {
  .content-padding {
    padding: 16px;
  }
}

.restrictionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 82vh;
  margin: auto;
  gap: 50px;
  color: #2d4642;
  h1 {
    color: #818c8b;
    font-size: 60px;
    font-weight: 700;
  }
  p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 50vw;
  }
  div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    a {
      width: max-content;
    }
  }
}
